/* LIST #4 */
.cat-list {
  width: 190px;
  font-family: Georgia, Times, serif;
  font-size: 15px;
  position: absolute;
  z-index: 2;
  text-align: left;
  top: 59%;
  left: 50%;
  border: 1px solid grey;
}
.cat-list ul {
  list-style: none;
}
.cat-list a {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  padding-left: 10px;
  cursor: pointer;
}

.cat-list ul li a strong {
  margin-right: 10px;
}
.selected a{
  background-color: grey;

}
