
$primary-color: #333;
$primary-theme-color: #4886FF;
$sec-font-color: #747474;
$primary-font-color: #676767;
$primary-border-color: #ECECEC;
$xxl-fnt:1.8rem;
$xl-fnt:1.6rem;
$lg-fnt:1.4rem;
$md-fnt:1.2rem;
$sm-fnt:1rem;
$xsm-fnt:.9rem;
