/* You can add global styles to this file, and also import other style files */
@import "./app/shared/_variables.scss";
html,
body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  height: 100%;
  color: $primary-color;
  font-size: $sm-fnt;
  font-family: sans-serif;
}
.dis-inline{
  display: inline-block;
}
body {
  a:focus,
  div:focus,
  button:focus{
    outline: none !important;
  }
  h2{
    margin:0;
  }
  a {
    color: $primary-theme-color;
    text-decoration: none;
  }
  div {
    box-sizing: border-box;
  }
  button {
    background-color: $primary-theme-color;
    color:white;
    border: none;
    cursor: pointer;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.main-wrapper{
  height:100%;
  .hdr-wrpr{
    background-color: $primary-theme-color;
    width: 100%;
  }
  .com-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
  }

}
