
@import "../shared/variables";
.bk-lst-wrpr{
  .search-link{
    float: right;
    height: 100%;
    padding: 0 20px;
    line-height: 52px;
  }
  .search-link a{
    color:white;
  }
  .book-shelve-wrapper{
    text-align: center;
    border: 1px solid grey;
    width: 100%;
    margin-top: 20px;
    border-top: 0;
  }
  .hdr-wrpr{
    background-color: $primary-theme-color;;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .search-inp{
    padding: 3px;
  }
  .book-shelve-wrapper{
    border:none;
  }

}


